

@font-face {
  font-family: 'VCR_OSD_MONO_1';
  src: url('../../font/VCR_OSD_MONO_1.001.ttf') format('truetype');
}


.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
     opacity: 0;
     pointer-events: none;
     width: 5px;
 }

body{
		margin: 0;
		padding: 0;
		background-color: black;
        color:  rgba(255,255,255,.7);
		font-family: 'VCR_OSD_MONO_1';
        user-select: none;
        overflow: hidden;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;


    img{
        width:auto;
        height:100%;
        top:0;

        @media(min-width: 768px){
            top:-10%;
            height:120%;
        }

        margin:auto;
        left:0;
        right:0;
        position: absolute;
        
        margin-left: 50%;
        transform: translateX(-50%);
    

    }

    .content{
        display: none;
    }


    .highIndex{
        z-index: 15;
    }
    #tv-power{
        display: none;
        z-index: 15;
    }

    #tv-standby{
        z-index:15;
    }

    #tv-set{
        z-index:15;
    }

    #tv-glow{
       display: none;
       width:auto;
       height:100%;
       
       @media(min-width: 768px){
            
            height:140%;
            top:0;
            bottom:0;

        }

    }

    #canale-container{


        width:45%;
        height:43%;
        margin:auto;
        left:0;
        right:0;
        bottom:0;
        top:-10%;

        position: absolute;

        @media(max-width: 768px){
            height:35%;
            top:-7%;
        }
    
        .clock{

            background:none;
            top:18%;
            right:4%;
            font-size:3.5vh;
            display:inline-block;
            position:absolute;

            @media(max-width: 768px){
                    top:16%;
                    right:5%;
                }
    

            div{
                display:inline;
                margin-left:.9vh;
                margin-right:.9vh;

                 @media(max-width: 768px){
                    
                    margin-left:.75vh;
                    margin-right:.75vh;
                    font-size:2.6vh;
                }
    
            }

        }


    }


}

.transparent{
    opacity:0;
}



@keyframes noiseAnim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(10)+px,9999px,random(10)+px,0);
    }
  }
}


@keyframes noiseAnim2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,9999px,random(200)+px,0);
    }
  }
}

.animate-glitch{
        
    clip:rect(0,900px,0,0); 
    animation:noiseAnim 2s infinite linear alternate-reverse;

}


.animate-flicker {
    opacity:1;  
    animation: flickerAnim 1s infinite;
}

@keyframes flickerAnim {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnim{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnim{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnim{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

.animate-flicker {
   -webkit-animation: flickerAnim 1s infinite;
   -moz-animation: flickerAnim 1s infinite;
   -o-animation: flickerAnim 1s infinite;
    animation: flickerAnim 1s infinite;
}


.animate-glow-power {
    animation: glowAnimPower 4s infinite;
}

@keyframes glowAnimPower {
  0%   { opacity: 1; }
  40%  { opacity: 1; }
  44%  { opacity: .1; }
  50%  { opacity:.5; }
  100% { opacity: 1; }
}


.animate-glow-halo {
    animation: glowAnimHalo 10s infinite;
}

@keyframes glowAnimHalo {
  0%   { opacity: .55; }
  20%  { opacity: .9; }
  25%  { opacity: .7; }
  35%  { opacity: .6; }
  55%  { opacity: .7; }
  70%  { opacity: .8; }
  100% { opacity: .55; }
}



.animate-glow-reflection {
    animation: glowAnimReflection 10s infinite;
}

@keyframes glowAnimReflection {
  0%   { opacity: .9; }
  25%  { opacity: .6; }
  45%  { opacity: .2; }
  60%  { opacity: .8; }
  70%  { opacity: .55; }
  80%  { opacity: .75; }
  90% { opacity: .9; }
}

.animate-glow-reflection-off {
    animation: glowAnimReflectionOff 10s infinite;
}

@keyframes glowAnimReflectionOff {
  0%   { opacity: .08; }
  20%  { opacity: .05; }
  25%  { opacity: .08; }
  70%  { opacity: .04; }
  100% { opacity: .08; }
}


.animate-glow-set {
    animation: glowAnimSet 10s infinite;
}

@keyframes glowAnimSet {
  0%   { opacity: .85; }
  20%  { opacity: .7; }
  25%  { opacity: .85; }
  70%  { opacity: .55; }
  90%  { opacity: .45; }
  100% { opacity: .85; }
}



body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


.loading{
  color:white;
  font-size:80px;
  position:relative;
  margin:0 auto;
}

.loading:after{
  content:attr(data-text);
  position:absolute;
  left:6px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noiseAnim 2s infinite linear alternate-reverse;
}


.loading:before{
  content:attr(data-text);
  position:absolute;
  left:-6px;
  text-shadow:1px 0 blue; 
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noiseAnim2 1s infinite linear alternate-reverse;
}

